@page
@model IDDQD.Areas.Identity.Pages.Account.RegisterModel

@{
    Layout=null;
}

@{
    ViewData["Title"] = "Register";
}

<head>

<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
<meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="~/css/bootstrap.min.css">
     <link rel="stylesheet" href="~/css/font-awesome.min.css">
     <link rel="stylesheet" href="~/css/aos.css">
     <link rel="stylesheet" href="~/css/owl.carousel.min.css">
     <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="~/css/templatemo-digital-trend.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/Index">
              <i class="fa fa-line-chart"></i>
              Competency Curricula 2020
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/Identity/Account/Login" class="nav-link contact">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Competencies/Index" class="nav-link smoothScroll">Competencies</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Dispositions/Index" class="nav-link smoothScroll">Disposition</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Knowledge/Index" class="nav-link smoothScroll">Knowledge</a>
                    </li>
                    <li class="nav-item">
                        <a href="/SkillLevels/Index" class="nav-link">Skills</a>
                    </li>
                    @* <li class="nav-item">
                        <a href="/Privacy" class="nav-link smoothScroll">Privacy</a>
                    </li> *@
                </ul>
            </div>
        </div>
    </nav>

<!-- HERO -->
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text"> 

                    <div class="row">
                        <div class="col-md-12">
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <h4 class="text-white">Create a new account.</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="text-white" asp-for="Input.Name"></label>
                                    <input asp-for="Input.Name" class="form-control" />
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="text-white" asp-for="Input.DOB"></label>
                                    <input asp-for="Input.DOB" class="form-control" />
                                    <span asp-validation-for="Input.DOB" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="text-white" asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="text-white" asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="text-white" asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                        @* <div class="col-md-6 col-md-offset-2">
                            <section>
                                <h4>Use another service to register.</h4>
                                <hr />
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            <p>
                                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                                for details on setting up this ASP.NET application to support logging in via external services.
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins)
                                                    {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </section>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="text-right">
                @* <a class="btn btn-link text-dark font-weight-bold font-size: 150%" href="./Index" role="button">Back to List</a> *@
                <a class="btn btn-link text-dark font-weight-bold font-size: 150%" href="/Index" role="button">Back to Site</a>
            </div>
        </div>
    </section>
    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
</body>