@page
@model IDDQD.Pages.Competencies.Page4Model

@{
    Layout=null;
}

@{
    ViewData["Title"] = "Competency Wizard Page 4";
}

<head>

<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="~/css/bootstrap.min.css">
     <link rel="stylesheet" href="~/css/font-awesome.min.css">
     <link rel="stylesheet" href="~/css/aos.css">
     <link rel="stylesheet" href="~/css/owl.carousel.min.css">
     <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="~/css/templatemo-digital-trend.css">

</head>

<body>

     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">

                        <h2>Atomic or Composite Quesiton - Step 3</h2>
                        <p class="font-weight-bolder">Atomic or Composite Competency?</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <div>
                                    <p class="font-weight-bolder">Session variable inputs</p>        
                                </div>
                                <div style="display: none;" class="card" style="width: 18rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Competency Builder JSON</li>
                                        <li class="list-group-item">@HttpContext.Session.GetString(IDDQD.Pages.Competencies.Page3Model.SerializedCompetencyJSONKey)</li>
                                    </ul>
                                </div>
                                <form method="POST">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>
                                                   ID 
                                                </th> 
                                                <th>
                                                   Name 
                                                </th> 
                                                <th>
                                                   Description 
                                                </th>
                                                <th>
                                                   Cartesian Index
                                                </th>
                                                <th>
                                                   Semiotic Index
                                                </th> 
                                                <th>
                                                    Etymology
                                                </th>  
                                                <th>
                                                    Selected
                                                </th>
                                                <th>
                                                    Skill Level
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @* https://www.learnrazorpages.com/razor-pages/forms/checkboxes#collections-of-complex-objects *@
                                            @for (var i = 0; i < Model.KnowledgeDispList.Count(); i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @Model.KnowledgeDispList[i].Id
                                                    </td> 
                                                    <td>
                                                        @Model.KnowledgeDispList[i].Name 
                                                    </td> 
                                                    <td>
                                                        @Model.KnowledgeDispList[i].Description 
                                                    </td>
                                                    <td>
                                                        @Model.KnowledgeDispList[i].CartesianIndex
                                                    </td>
                                                    <td>
                                                        @Model.KnowledgeDispList[i].SemioticIndex
                                                    </td> 
                                                    <td>
                                                        @Model.KnowledgeDispList[i].Etymology
                                                    </td>  
                                                    <td> 
                                                        <input type="checkbox" class="form-check-input" asp-for="@Model.KnowledgeDispList[i].Selected">
                                                    </td>
                                                    <td>
                                                        @Model.KnowledgeDispList[i].SkillLevel
                                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" asp-for="@Model.KnowledgeDispList[i].SkillLevel">
                                                         <option selected>Choose a Skill
                                                         </option>  
                                                         @foreach (var skill in Model.SkillLevelList)
                                                            {
                                                             <option value="@skill.Id">@skill.Name</option>
                                                            }
                                                            </select>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @* NEED TO MAKE A FORM THAT THE USERS SEES HERE *@
                                    @* https://www.learnrazorpages.com/razor-pages/forms/checkboxes#collections-of-complex-objects *@
                                    <input type="hidden" asp-for="CompetencyName">
                                    <input type="hidden" asp-for="CompetencyDescription">
                                    @* <input type="hidden" asp-for="DispositionIndicies"> *@

                                    @for (int i = 0; i < Model.DispositionIndicies.Count(); i++)
                                    {
                                    <input type="hidden" asp-for="DispositionIndicies[i]">
                                    } 
                                    @for (int i = 0; i < Model.KnowledgeDispList.Count(); i++)
                                    {
                                    <input type="hidden" asp-for="KnowledgeDispList[i].Id">
                                    <input type="hidden" asp-for="KnowledgeDispList[i].Name">
                                    <input type="hidden" asp-for="KnowledgeDispList[i].CartesianIndex">
                                    <input type="hidden" asp-for="KnowledgeDispList[i].SemioticIndex">
                                    <input type="hidden" asp-for="KnowledgeDispList[i].Etymology">
                                    <input type="hidden" asp-for="KnowledgeDispList[i].Selected">
                                    <input type="hidden" asp-for="KnowledgeDispList[i].SkillLevel">
                                    <input type="hidden" asp-for="KnowledgeDispList[i].Description">
                                    } 


                                    <button type="submit" class="btn btn-primary">
                                    Step 4
                                    </button>
                                </form> 
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="text-right">
                @* <a class="btn btn-link text-dark font-weight-bold font-size: 150%" href="./Index" role="button">Back to List</a> *@
                <a class="btn btn-link text-dark font-weight-bold font-size: 150%" href="/Index" role="button">Back to Site</a>
            </div>
        </div>
     </section>

    <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
</body>