@page
@model IDDQD_UI.Pages.Competencies.Page2Model

@{
    ViewData["Title"] = "Competency Wizard Page 2";
}

@* @using Microsoft.AspNetCore.Http *@

@{
    Layout=null;
}

    <title>Competency Curricula 2020</title>

<head>

@* <h1>Disposition Index</h1> *@

<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="~/css/bootstrap.min.css">
     <link rel="stylesheet" href="~/css/font-awesome.min.css">
     <link rel="stylesheet" href="~/css/aos.css">
     <link rel="stylesheet" href="~/css/owl.carousel.min.css">
     <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="~/css/templatemo-digital-trend.css">

</head>

<body>

     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">

                        <h2>Select Dispositions - Step 2</h2>
                        <p class="font-weight-bolder">Select Dispositions for the competency.</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <div>
                                    <p class="font-weight-bolder">Session variable inputs</p>        
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Competency Builder JSON</li>
                                        <li class="list-group-item">@HttpContext.Session.GetString(IDDQD_UI.Pages.Competencies.Page1Model.SerializedCompetencyJSONKey)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div>
                                    <p><strong>Competency Name</strong>: @Model.CompetencyName</p>
                                    <p><strong>Competency Description</strong>: @Model.CompetencyDescription</p>
                                </div>
                                <div>
                                    <form method="post">
                                        <div class="form-group row">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Discipline</th>
                                                        <th scope="col">Select</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @* https://www.learnrazorpages.com/razor-pages/forms/checkboxes#collections-of-complex-objects *@
                                                    @for (var i = 0; i < Model.DispositionDisplayList.Count(); i++)
                                                    {
                                                        <tr>
                                                            <th scope="row">
                                                                <input type="hidden" 
                                                                    asp-for="DispositionDisplayList[i].Id" />
                                                                @Model.DispositionDisplayList[i].Id
                                                            </th>
                                                            <td>
                                                                <input type="hidden" 
                                                                    asp-for="DispositionDisplayList[i].Name" />
                                                                @Model.DispositionDisplayList[i].Name
                                                            </td>
                                                            <td>@Model.DispositionDisplayList[i].Description</td>
                                                            <td>@Model.DispositionDisplayList[i].Category</td>
                                                            <td>@Model.DispositionDisplayList[i].Discipline</td>
                                                            <td><input asp-for="DispositionDisplayList[i].Selected"></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>        
                                        <div class="form-group row">
                                            @* These are important to take advantage of the BindProperty *@
                                            <input type="hidden" asp-for="CompetencyName">
                                            <input type="hidden" asp-for="CompetencyDescription">
                                            <button name="submit" type="submit" class="btn btn-primary">
                                                Step 3
                                                <i class="fas fa-angle-double-right"></i>
                                            </button>
                                        </div>        
                                    </form>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="text-right">
                                        <a class="btn btn-link text-dark" href="./Index" role="button">Back to List</a>
                                        <a class="btn btn-link text-dark" href="/Index" role="button">Back to Site</a>
                                        @* <button type="button" asp-page="./Index" class="btn btn-dark btn-sm">Back to List</button><br>
                                        <button type="button" asp-page="/Index" class="btn btn-dark btn-sm">Back to Site</button> *@
                                        @* <a class="button" style="color:white;" asp-page="./Index">Back to List</a><br><br>
                                        <a class="button" style="color:black;" asp-page="/Index">Back to Site</a> *@
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>

    <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
</body>